In [89]:
import pandas as pd
import Task_1a

In [90]:
%run Task_1a

         x1   x2     x3   x4     x5     x6     x7      x8    x9    x10   x11  \
0   0.06724  0.0   3.24  0.0  0.460  6.333   17.2  5.2146   4.0  430.0  16.9
1   9.23230  0.0  18.10  0.0  0.631  6.216  100.0  1.1691  24.0  666.0  20.2
2   0.11425  0.0  13.89  1.0  0.550  6.373   92.4  3.3633   5.0  276.0  16.4
3  24.80170  0.0  18.10  0.0  0.693  5.349   96.0  1.7028  24.0  666.0  20.2
4   0.05646  0.0  12.83  0.0  0.437  6.232   53.7  5.0141   5.0  398.0  18.7

      x12    x13
0  375.21   7.34
1  366.15   9.53
2  393.74  10.50
3  396.90  19.77
4  386.40  12.34

In [91]:
results = pd.read_csv('results.csv')

In [92]:
results

   5.479743894933
0        5.456634
1        5.404774
2        5.853039
3        6.156928